[buildout]
extends  = base-odoo-pgcontrib.cfg versions.cfg odoo.cfg
bin-directory = ${buildout:directory}/bin
config-directory = ${buildout:directory}/etc
templates-directory = ${buildout:directory}/templates
versions = versions

parts +=
    env
    py
    openerp
    postgres
    psycopg2
    pgbouncer
    pgbouncer_users
    pgbouncer_conf
    supervisor
    postgres-conf
    pg-hba-conf
    pg-ident-conf
    scripts
    supervisor-cron
    initdb

find-links = http://download.gna.org/pychart/
eggs +=
